.carousel__contenedor {
  position: relative;
}

.carousel__list {
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}
