.form-newlestter-container {
  padding: 15px 7px 10px;
  width: 100%;
  background-color: var(--grey);
}

.form-newlestter {
  margin: 0 auto;
  width: 100%;
}

.form-newlestter legend {
  font-weight: 600;
  font-size: 1.2rem;
}

.form-newlestter-description {
  font-size: 0.85rem;
  font-family: var(--roboto);
  margin-bottom: 15px;
}

.input-email-newlestter {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--brown);
  height: 40px;
  text-align: center;
  font-size: 1rem;
  outline: none;
  color: var(--brown);
}

.btn-newlestter-form {
  background-color: var(--brown);
  margin: 15px auto;
  width: 100%;
  height: 40px;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: var(--roboto);
}

@media only screen and (min-width: 768px) {
  .form-newlestter {
    margin: 0;
    display: grid;
    grid-template-areas:
      "legend legend legend"
      "description input button";
    gap: 5px;
  }

  .form-newlestter legend {
    font-size: 1.4rem;
    grid-area: legend;
  }

  .form-newlestter-description {
    font-size: 0.9rem;
    grid-area: description;
  }

  .input-email-newlestter {
    max-width: 320px;
    grid-area: input;
  }

  .btn-newlestter-form {
    grid-area: button;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 810px) {
  .form-newlestter-description {
    max-width: 377px;
  }

  .btn-newlestter-form {
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1160px) {
  .form-newlestter {
    gap: 10px;
  }
  .form-newlestter-description {
    font-size: 1.1rem;
    max-width: 450px;
  }
  .input-email-newlestter {
    font-size: 1.1rem;
    width: 100%;
    max-width: 450px;
  }

  .btn-newlestter-form {
    width: 100%;
    max-width: 400px;
  }
}
