.logo a {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--blue);
  letter-spacing: 1.1px;
  font-family: var(--dancingScript);
  text-decoration: none;

  /* color: transparent;
  background-image: linear-gradient(43deg, #2e456f 0%, #4291f9 100%);
  -webkit-background-clip: text;
  background-clip: text; */
}
