.nav-bottom {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--blue);
  padding: 10px;
  transform: translateY(100%);
  transition: all .3s ease-in-out;
}

.nav-bottom-active{
  transform: translateY(0);
  transition: all .3s ease-in-out;
}

.list-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.element-bottom {
  color: white;
  font-size: 1.4rem;
}
